* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.ttf binary
*.woff binary
*.woff2 binary
*.xlsx binary
*.exe binary
frontend/** linguist-detectable=false
mp-weixin/** linguist-detectable=false
docs/** linguist-documentation
